<!DOCTYPE html>
<html lang="en">
<head>
    <title>タスク管理アプリ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>タスク管理アプリ</h1>
    </header>
    <div class="task-list">
        <div class="task-list-heading">タスク</div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>タイトル</th>
                    <th>状態</th>
                    <th>作成日</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.created_date }}</td>
                    <td><a href="#">編集</a></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <div class="add-task">
            <a href="#">タスクを追加する</a>
        </div>  
    </div>
</body>
</html>